<h2 mat-dialog-title>Voulez-vous confirmer ?</h2>

<mat-dialog-content class="confirm-dialog-content">
  Supprimer {{ data.message }}?
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button
    mat-stroked-button
    class="cancel-btn rounded-pill"
    (click)="onCancel()"
  >
    Annuler
  </button>
  <button
    mat-flat-button
    color="warn"
    class="delete-btn rounded-pill"
    (click)="onConfirm()"
  >
    Supprimer
  </button>
</mat-dialog-actions>
