<div class="auth-container">
  <div class="auth-card">
    <h2 class="auth-title">Se connecter</h2>
    <br>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email / Phone -->
      <div class="form-group">
        <input
          formControlName="email"
          type="text"
          placeholder="Email"
          class="input-field"
        />
        <div
          *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
          class="error"
        >
          Veuiller entrer un email valide.
        </div>
      </div>

      <!-- Password + toggle -->
      <div class="form-group password-group">
        <input
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Mot de passe"
          class="input-field"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="toggleShowPassword()"
        >
          {{ showPassword ? 'Masquer' : 'Afficher' }}
        </button>
        <div
          *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
          class="error"
        >
          Veuillez entrer un mot de passe valide.
        </div>
      </div>

      <div class="forgot-password">
        <a routerLink="/forgot-password">Mot de passe oublié?</a>
      </div>

      <button
        type="submit"
        class="btn-primary"
        [disabled]="loginForm.invalid"
      >
        Sign in
    </button>
    <div align = "center"
     *ngIf="errorMsg" class="error">{{ errorMsg }}
    </div>
    </form>
  </div>
</div>
